RewriteEngine On
RewriteCond $1 !^(index\.php|assets|images|js|css|uploads|favicon.png)
    RewriteCond %(SCRIPT_FILENAME) !-f
    RewriteCond %(SCRIPT_FILENAME) !-d
    RewriteRule ^(.*)$ ./index.php/$\ [L]



